[data-hook="product_show"] {
  h6 {
    font-size: $product_detail_title_font_size;
  }
}

.product-section-title {
  text-transform: uppercase;
  margin-top: 15px;
}

.add-to-cart {
  margin-top: 15px;
  width: 103%;

  input[type="number"] {
    margin-right: 3px;
    width: 60px;
    vertical-align: middle;
    padding: 16px 10px;
  }
}

span.price {
  color: $link_text_color;

  &.selling {
    font-size: $product_detail_price_font_size;
  }
  &.diff {
  }
}

.taxon-title {
  font-size: $product_list_header_font_size;
}

.search-results-title {
  font-size: $product_list_search_font_size;
}

ul#products {

  &:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  li {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.95;

  &:hover{
    opacity: 1;
    img {
      box-shadow: 3px 3px rgba(255, 63, 0, 0.5);
    }
  }

    a {
      display: block;

      &.info {
        // margin-top: 5px;
        text-transform: uppercase;
        font-size: $product_list_name_font_size;
        color: $link_text_color;
        overflow: hidden;
      }
    }

    .product-image {
      padding: 5px;
      background-color: $product_background_color;

      .product-img {
        // max-width: 100%; //* Fluid images for product */
        min-height: 240px;
      }

    }

    .price {
      color: $orange_brand;
      font-size: $main_navigation_font_size;
      letter-spacing: 2px;
      // padding-top: 5px;
      display: block;
    }
  }
}

.subtaxon-title {
  text-transform: uppercase;

  a {
    color: $link_text_color;
  }
}

.search-results-title {
  text-transform: uppercase;
  border-bottom: $default_border;
  margin-bottom: 10px;
}

#sidebar_products_search {
  .navigation {
    margin-bottom: 15px;
  }

  .filter-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ededed;
    margin-bottom: 5px;
    color: $link_text_color;
    font-size: $base_font_size + 2;
    line-height: 24px;
  }
}

.taxon {
  overflow: hidden;
}

#product-images {
  #main-image {
    background-color: $product_background_color;

    img {
      min-height: 32vw;
      max-width: 100%; //* Fluid images for product */
    }
  }
  #product-thumbnails {
    li {
      background-color: $product_background_color;
    }
  }
}

#product-description-box{
  margin-left: 0;
}

#product-description-all {
  min-height: 32vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  #description-price-social{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .product-title {
      margin-bottom: 20px;
      color: $product_title_text_color;
      font-size: $product_detail_name_font_size;
      font-weight: normal;
      text-transform: uppercase;
      text-shadow: 2px 2px $orange_brand_light;
    }

    #product-price{
      margin-bottom: 10px;
    }

    #description{
      text-align: justify;
      margin-bottom: 30px;
    }

    #social{
      margin-bottom: 20px;
      #social-container, .social-icon {
        margin-right: 1.4em;
        list-style-type: none;
        display: inline;
        font-size: 1.38em;

        #facebook > a {
          color: #3B5998;
        }

        #twitter > a {
          color: #1DA1F2;
        }

        #pinterest > span {
          height: 20px;
          width: 20px;
          background-size: 20px 22px;
          text-align: center;
        }
      }

    }

    [data-hook="product-description"] {
      font-size: $product_detail_description_font_size;
      color: $product_body_text_color;
    }
  }
}

  .icon-cart::before{
    font-family: FontAwesome;
    content: "\f291";
  }

  button.button-cart{
    position: relative;
    text-transform: uppercase;
    padding: 15px 35px;
    font-size: 14px;
    background-color: white;
    border: 1px solid $border_color;
    color: $product_body_text_color;
    box-shadow: none;
    border-radius: 0;
    font-weight: normal;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &::before{
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: -100%;

      color: white;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
      line-height: 3;

      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    &:hover{
      border: 1px solid white;
      color: white;
      background-color: rgba(132, 130, 130, 0.8);
      span {
        color: transparent;
      }
      &::before{
        background-color: $orange_brand;
        top: 0%;
      }
    }
  }

#product-thumbnails {
  margin-top: 10px;

  li {
    margin-right: 6px;
    border: $default_border;

    img {
      padding: 5px;
    }

    &:hover, &.selected {
      border-color: $link_text_color;
    }
  }
}

#product-properties {
  border: $default_border;
  padding: 10px;
  width: 100%;
}

#product-variants {
  ul {
    li {
      padding: 5px;
    }
  }
}

#cart-form {
  #inside-product-cart-form:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
