<header id="header" class="row" data-hook>
  <div class="logo-wrapper">
    <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  </div>
  <%#= render partial: 'spree/shared/nav_bar' %>
  <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>
